body{
	background-color: yellow;
}
.p7{
	font-family: "Kablammo", system-ui;
   }
   .p8{
		font-family: "Rubik Scribble", system-ui;
   }
   .p9{
	   font-family: "Rubik Maps", system-ui;
   }
   .p10{
	   font-family: "Rubik Moonrocks", sans-serif;
   }
   .p11{
	   font-family: "Pacifico", cursive;
   }